body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background: #333;
    color: white;
    padding: 15px 0;


}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section h1{
    margin: 0;
}
.words{
    display: flex;
}
.words p{
    margin: 0 10px;
    color: #ff6b6b;
    font-size: 30px;
}
nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
}

.image-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 200px;
    margin: 0 auto;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-wrapper {
    width: 300px;

    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.image-button {
    margin-top: 40px;
    width: 160px;
    height: 70px;
    font-size: 30px;

}


.image-button {

    background: linear-gradient(to right, #ff6b6b, #f9c74f);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.image-button:hover {
    background-color: white;
    color: black;
    border: 2px solid ;
    background: linear-gradient(to right, #ffe66b, #950a26);
}


.image-button:hover {
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}








.footer {
    background: linear-gradient(to right, #ff6b6b, #f9c74f);
    color: white;
    padding: 40px 0;
    bottom: 0;


    text-align: center;
    width: 100%;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    margin: 0 20px;
    text-align: left;
}

.column h2 {
    font-size: 20px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.footer-credits {
    margin-top: 40px;
}